In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [6]:
my_data = randn(4,3) # Rows, Columns
my_rows = ["A","B","C","D"]
my_cols = ["Monday", "Tuesday", "Friday"]

In [7]:
# Create Dataframe
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A  0.184464 -0.076764 -0.078522
B  0.036071  1.196676  1.003648
C  1.061411 -1.227812  1.134534
D -0.114400 -0.119719  1.677140

In [8]:
# import csv file 
my_df2 = pd.read_csv("dog_data.csv")
my_df2

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY    152361
1          GER SHEPHERD  BLACK/BROWN             TACODA    152382
2         BELG MALINOIS     BRINDLEE                ICH    152383
3                 MIXED  BLACK/BROWN              ARROW    151044
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY    151395
5      SCOTTISH TERRIER        BLACK             BAILEY    151296
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER    150907
7         DACHSHUND MIX  WHITE/BROWN              LEROI    151018
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS    152389
9    LABRADOR RETRIEVER       YELLOW              TAFFY    152281
10         BICHON FRISE        WHITE               DUDE    152381
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE    152381
12     AM PITT BULL MIX        BROWN               KING    152351
13     AM PITT BULL MIX        WHITE              EMILY    151081
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE    152281
15                MIXED        WHITE              RUSTY    151201
16          TERRIER MIX      SPOTTED              ANNIE    152391
17       COCKER SPANIEL       BLONDE             JULIET    152141
18       COCKER SPANIEL        BLACK              ROMEO     15214

In [9]:
# Pull out rows
my_df2.loc[0]

Breed       COCKAPOO
Color          BROWN
DogName      CHARLEY
OwnerZip      152361
Name: 0, dtype: object

In [10]:
# Pull out multiple rows
my_df2.loc[[0, 5]]

              Breed  Color  DogName  OwnerZip
0          COCKAPOO  BROWN  CHARLEY    152361
5  SCOTTISH TERRIER  BLACK   BAILEY    151296